<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinamobo.ue.course.dao.TomCourseApplyMapper" >
  <resultMap id="BaseResultMap" type="com.chinamobo.ue.course.entity.TomCourseApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="course_classes" property="courseClasses" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course_id, course_classes, code, status, apply_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tom_course_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tom_course_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinamobo.ue.course.entity.TomCourseApply" >
    insert into tom_course_apply ( course_id, course_classes, 
      code, status, apply_time
      )
    values ( #{courseId,jdbcType=INTEGER}, #{courseClasses,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobo.ue.course.entity.TomCourseApply" >
    insert into tom_course_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="courseClasses != null" >
        course_classes,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseClasses != null" >
        #{courseClasses,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamobo.ue.course.entity.TomCourseApply" >
    update tom_course_apply
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseClasses != null" >
        course_classes = #{courseClasses,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamobo.ue.course.entity.TomCourseApply" >
    update tom_course_apply
    set course_id = #{courseId,jdbcType=INTEGER},
      course_classes = #{courseClasses,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectApply" resultMap="BaseResultMap" parameterType="map" >
  	select * from tom_course_apply where 1=1
  	<if test="courseId !=null">
  		and course_id = #{courseId,jdbcType=INTEGER}
  	</if>
  	<if test="code !=null">
  		and code = #{code,jdbcType=VARCHAR}
  	</if>
  	<if test="courseClasses !=null">
  		and course_classes = #{courseClasses,jdbcType=INTEGER}
  	</if>
  </select>
  <select id="classmates" resultMap="BaseResultMap" parameterType="map" >
	  	select * from tom_course_apply where status='Y'
	  	<if test="courseId !=null">
	  		and course_id = #{courseId,jdbcType=INTEGER}
	  	</if>
	  	<if test="code !=null">
	  		and code != #{code,jdbcType=VARCHAR}
	  	</if>
	  	<if test="courseClasses !=null">
	  		and course_classes = #{courseClasses,jdbcType=INTEGER}
  		</if>
  </select>
  <select id="countApply" resultType="java.lang.Integer" parameterType="map">
  	select count(*) from tom_course_apply where status='Y'
  		<if test="courseId !=null">
	  		and course_id = #{courseId,jdbcType=INTEGER}
	  	</if>
  </select>
  <select id="countEmp" resultType="java.lang.Integer" parameterType="map">
  	select count(*) from tom_course_apply where status='Y'
  		<if test="courseId !=null">
	  		and course_id = #{courseId,jdbcType=INTEGER}
	  	</if>
	  	<if test="code !=null">
	  		and code = #{code,jdbcType=VARCHAR}
	  	</if>
	  	<if test="courseClasses !=null">
	  		and course_classes = #{courseClasses,jdbcType=VARCHAR}
	  	</if>
  </select>
  <select id="applyList" resultMap="BaseResultMap" parameterType="map">
  	select * from tom_course_apply where status='Y'
	  	<if test="courseId !=null">
	  		and course_id = #{courseId,jdbcType=INTEGER}
	  	</if>
	  	limit<![CDATA[ #{startNum,jdbcType=DECIMAL},#{endNum,jdbcType=DECIMAL}]]>
  </select>
</mapper>