<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinamobo.ue.course.dao.TomCourseLearningRecordMapper" >
  <resultMap id="BaseResultMap" type="com.chinamobo.ue.course.entity.TomCourseLearningRecord" >
    <result column="COURSE_ID" property="courseId" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="LEARNING_DATE" property="learningDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.chinamobo.ue.course.entity.TomCourseLearningRecord" >
    insert into TOM_COURSE_LEARNING_RECORD (COURSE_ID, CODE, LEARNING_DATE
      )
    values (#{courseId,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{learningDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobo.ue.course.entity.TomCourseLearningRecord" >
    insert into TOM_COURSE_LEARNING_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="learningDate != null" >
        LEARNING_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="learningDate != null" >
        #{learningDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 查询已学习课程数量 -->
  <select id="countByExample" parameterType="com.chinamobo.ue.course.entity.TomCourseLearningRecord" resultType="java.lang.Integer">
   select count(1) from TOM_COURSE_LEARNING_RECORD c 
	where 1=1
       <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
      <if test="learningDate != null" >
        and #{learningDate,jdbcType=TIMESTAMP} >=LEARNING_DATE 
      </if>
  </select>
  <!-- 查询学习记录 -->
  <select id="selectLearnRecord" resultMap="BaseResultMap" parameterType="map">
  	select * from TOM_COURSE_LEARNING_RECORD WHERE 1=1
  	 <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
      <if test="learningDate != null" >
        and #{learningDate,jdbcType=TIMESTAMP} >=LEARNING_DATE 
      </if>
      <if test="createDate != null" >
        and LEARNING_DATE >#{createDate,jdbcType=TIMESTAMP}
      </if>
  </select>
  <select id="countByActivity" parameterType="map" resultType="java.lang.Integer">
   select count(1) from TOM_COURSE_LEARNING_RECORD a ,TOM_ACTIVITY_EMPS_RELATION b where a.code=b.code and b.apply_status='Y'
        <if test="courseId != null" >
        and a.COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="activityId != null" >
        and b.ACTIVITY_ID = #{activityId,jdbcType=DECIMAL} 
      </if>
      <if test="learningDate != null" >
        and #{learningDate,jdbcType=TIMESTAMP} >=LEARNING_DATE 
      </if>
  </select>
  <delete id="deleteByExample" parameterType="com.chinamobo.ue.course.entity.TomCourseLearningRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from TOM_COURSE_LEARNING_RECORD
    where 1=1
    <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
      <if test="learningDate != null" >
        and #{learningDate,jdbcType=TIMESTAMP} >=LEARNING_DATE 
      </if>
  </delete>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
 
  	select * from TOM_COURSE_LEARNING_RECORD WHERE 1=1
  	 <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
      <if test="learningDate != null" >
        and #{learningDate,jdbcType=TIMESTAMP} >=LEARNING_DATE 
      </if>order by LEARNING_DATE  desc 
    limit<![CDATA[
    #{startNum,jdbcType=DECIMAL},#{endNum,jdbcType=DECIMAL}]]>
  </select>
  <update id="updateByprimarkey" parameterType="com.chinamobo.ue.course.entity.TomCourseLearningRecord" >
  	 update TOM_COURSE_LEARNING_RECORD
    <set >
      <if test="learningDate != null" >
        LEARNING_DATE = #{learningDate,jdbcType=TIMESTAMP} 
      </if>
    </set>
    where 1=1
    <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
  </update>
  <select id="selectByCousesCode" resultType="int" parameterType="map">
    select count(*) from tom_course_learning_record where course_id = #{courseId,jdbcType=DECIMAL} and code = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="selectlearntime"  parameterType="map" resultType ="com.chinamobo.ue.course.entity.TomCourseLearningRecord">
  	select MAX(LEARNING_DATE), MIN(LEARNING_DATE) from TOM_COURSE_LEARNING_RECORD WHERE 1=1
  	  <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
  </select>
</mapper>