<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinamobo.ue.course.dao.TomCourseSignInRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.chinamobo.ue.course.entity.TomCourseSignInRecords" >
    <result column="COURSE_ID" property="courseId" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CLASSES_ID" property="classesid" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords" >
    insert into TOM_COURSE_SIGN_IN_RECORDS (COURSE_ID, CODE, CREATE_DATE
      )
    values (#{courseId,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords" >
    insert into TOM_COURSE_SIGN_IN_RECORDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 查询已签到课程数量 -->
  <select id="countByExample" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords" resultType="java.lang.Integer">
   select count(1) from TOM_COURSE_SIGN_IN_RECORDS where 1=1
       <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
      <if test="createDate != null" >
        and #{createDate,jdbcType=TIMESTAMP} >=CREATE_DATE 
      </if>
      <if test="activityId !=null">
      	and activity_id = #{activityId,jdbcType=DECIMAL}
      </if>
  </select>
  <select id="countByExamples" parameterType="map" resultType="java.lang.Integer">
   select count(1) from TOM_COURSE_SIGN_IN_RECORDS a,TOM_ACTIVITY_EMPS_RELATION b where a.code=b.code and b.apply_status='Y'
       <if test="courseId != null" >
        and a.COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="activityId != null" >
        and b.ACTIVITY_ID = #{activityId,jdbcType=DECIMAL} 
      </if>
       <if test="learningDate != null" >
        and #{learningDate,jdbcType=TIMESTAMP} >=CREATE_DATE 
      </if>
  </select>
  <select id="selectByExample" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords" resultMap="BaseResultMap">
   select * from TOM_COURSE_SIGN_IN_RECORDS  
	where 1=1
       <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
       <if test="createDate != null" >
        and #{createDate,jdbcType=TIMESTAMP} >=CREATE_DATE 
      </if>
  </select>
  <delete id="deleteByExample" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from TOM_COURSE_SIGN_IN_RECORDS
    where 1=1
    <if test="courseId != null" >
        and COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR} 
      </if>
       <if test="createDate != null" >
        and #{createDate,jdbcType=TIMESTAMP} >=CREATE_DATE 
      </if>
  </delete>
  
    <select id="countBySigin" parameterType="map" resultType="java.lang.Integer">
   select count(1) from TOM_COURSE_SIGN_IN_RECORDS a where 1=1
       <if test="courseId != null" >
        and a.COURSE_ID = #{courseId,jdbcType=DECIMAL} 
      </if>
      <if test="code != null" >
        and a.code = #{code,jdbcType=VARCHAR} 
      </if>
  </select>
  <select id="selectClassesSignRecord" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords"  resultMap="BaseResultMap">
  	select  CL.CLASSES ,CL.COURSE_ID,CL.BEGIN_TIME,CL.END_TIME,OS.CODE,OS.SIGN_TIME from  tom_course_classes CL
  	<!-- CL.COURSE_ID,MIN(CL.BEGIN_TIME),MAX(CL.END_TIME),OS.CODE,MAX(OS.SIGN_TIME)  -->
	left JOIN  tom_offline_sign OS ON OS.CLASSES_ID=CL.CLASSES  AND OS.COURSE_ID = CL.COURSE_ID 
	where 1=1 
	<if test="courseId != null" >
		and CL.COURSE_ID = #{courseId,jdbcType=DECIMAL} 
	</if>
	<if test="code != null" >
		and OS.CODE = #{code,jdbcType=VARCHAR}
	</if>
		order by OS.SIGN_TIME 
  </select>
  <select id="selectClassTimeBycourseId" parameterType="com.chinamobo.ue.course.entity.TomCourseSignInRecords" resultType="com.chinamobo.ue.course.entity.TomCourseSignInRecords">
  	<!-- SELECT MAX(S.END_TIME) endTime,MIN(S.BEGIN_TIME)beginTime FROM(
	select  CL.CLASSES ,CL.COURSE_ID,CL.BEGIN_TIME,CL.END_TIME,OS.CODE,OS.SIGN_TIME from  tom_course_classes CL
	left JOIN  tom_offline_sign OS ON OS.CLASSES_ID=CL.CLASSES  AND OS.COURSE_ID = CL.COURSE_ID 
	<if test="code !=null">
		and OS.CODE =  #{code,jdbcType=VARCHAR}
	</if>
	where 1=1 
	<if test="courseId !=null">
		and CL.COURSE_ID = #{courseId,jdbcType=INTEGER}
	</if>
	) S -->
	SELECT S.COURSE_ID courseId,MAX(S.END_TIME) endTime,MIN(S.BEGIN_TIME)beginTime,S.CODE code,MAX(S.SIGN_TIME) createDate FROM(
	select  CL.CLASSES ,CL.COURSE_ID,CL.BEGIN_TIME,CL.END_TIME,OS.CODE,OS.SIGN_TIME from  tom_course_classes CL
	left JOIN  tom_offline_sign OS ON OS.CLASSES_ID=CL.CLASSES  AND OS.COURSE_ID = CL.COURSE_ID 
	<if test="code !=null">
		and OS.CODE =  #{code,jdbcType=VARCHAR}
	</if>
	where 1=1 
	<if test="courseId !=null">
		and CL.COURSE_ID = #{courseId,jdbcType=INTEGER}
	</if>
	) S
  </select>
</mapper>