<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinamobo.ue.course.dao.TomGradeRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.chinamobo.ue.course.entity.TomGradeRecords" >
    <result column="COURSE_ID" property="courseId" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="GRADE_TYPE" property="gradeType" jdbcType="VARCHAR" />
    <result column="GRADE_DIMENSION_ID" property="gradeDimensionId" jdbcType="DECIMAL" />
    <result column="GRADE_DIMENSION_NAME" property="gradeDimensionName" jdbcType="VARCHAR" />
    <result column="GRADE_DIMENSION_NAME_EN" property="gradeDimensionNameEn" jdbcType="VARCHAR" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.chinamobo.ue.course.entity.TomGradeRecords" >
    insert into TOM_GRADE_RECORDS (COURSE_ID, CODE, CREATE_TIME, 
      GRADE_TYPE, GRADE_DIMENSION_ID, SCORE
      )
    values (#{courseId,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{gradeType,jdbcType=VARCHAR}, #{gradeDimensionId,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobo.ue.course.entity.TomGradeRecords" >
    insert into TOM_GRADE_RECORDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="gradeType != null" >
        GRADE_TYPE,
      </if>
      <if test="gradeDimensionId != null" >
        GRADE_DIMENSION_ID,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeType != null" >
        #{gradeType,jdbcType=VARCHAR},
      </if>
      <if test="gradeDimensionId != null" >
        #{gradeDimensionId,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <select id="selectListByRecords" resultMap="BaseResultMap" parameterType="com.chinamobo.ue.course.entity.TomGradeRecords" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
  	SELECT R.GRADE_DIMENSION_ID GRADE_DIMENSION_ID,R.SCORE SCORE,
  	D.GRADE_DIMENSION_NAME GRADE_DIMENSION_NAME ,D.GRADE_DIMENSION_NAME_EN FROM TOM_GRADE_RECORDS R 
			LEFT JOIN TOM_GRADE_DIMENSION D ON D.GRADE_DIMENSION_ID = R.GRADE_DIMENSION_ID 
			WHERE 1=1  
      <if test="courseId != null" >
        and R.COURSE_ID = #{courseId,jdbcType=DECIMAL}
      </if>
      <if test="gradeType != null" >
        and GRADE_TYPE = #{gradeType,jdbcType=VARCHAR}
      </if> 
       <if test="code != null" >
        and code = #{code,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="getTotScore" resultType="java.lang.Double" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
  	SELECT sum(SCORE) FROM TOM_GRADE_RECORDS R where GRADE_TYPE=#{gradeType,jdbcType=VARCHAR}
	GROUP BY  COURSE_ID HAVING COURSE_ID=#{courseId,jdbcType=DECIMAL}
  </select>
   <select id="getAverageScore" resultType="java.lang.Double" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
  	SELECT avg(SCORE) FROM TOM_GRADE_RECORDS R where GRADE_TYPE=#{gradeType,jdbcType=VARCHAR}
	GROUP BY  COURSE_ID HAVING COURSE_ID=#{courseId,jdbcType=DECIMAL}
  </select>
</mapper>