<div ng-controller="EmployeeGradeModelController">	
	<!--列出已勾选的项-->
    <div ng-show="itemArr.choosedItemArr.length >0" class="form-control-static clearfix choosed-items-container">
        <label class="checkbox-inline choosed-item" style="cursor: default;" ng-repeat="item in itemArr.choosedItemArr">
        	{{item.name}}
            <span class="del-icon" ng-click="itemArr.deleteItem(item)">&nbsp;&nbsp;&times;</span>
        </label>
    </div>
	<!-- 模态框（Modal） start-->
	<div class="modal fade" ng-class="{'in':openModalDialog,'display-block':openModalDialog}" role="dialog" ng-if="openModalDialog">
		<div class="modal-dialog" ng-style="setStyle_02()">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close del-icon" ng-click="doClose()">&times;</a>
					<h4 class="modal-title">选择员工层级</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid" style="padding-bottom:15px;">
						<table class="table table-striped table-bordered table-hover table-condensed">
							<thead>
								<tr>
									<th class="col-xs-2">选择</th>
									<th class="col-xs-5">序号</th>
									<th class="col-xs-5">员工等级</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in employeeGrade" ng-class="{'current-focus-tr':item.checked}" ng-click="itemArr.chooseItem(item)" style="cursor:pointer;">
									<td><input type="checkbox" ng-checked="item.checked" style="cursor:pointer;"/></td>
									<td ng-bind="$index+1"></td>
									<td ng-bind="item.name"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" ng-click="doClose()">关闭</a>
                	<a class="btn btn-primary" ng-click="doSure()">确定</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade" ng-class="{'in':openModalDialog,'display-block':openModalDialog,'display-none':!openModalDialog}"></div>
</div>