<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinamobo.ue.commodity.dao.TomEbRecordMapper" >
  <resultMap id="BaseResultMap" type="com.chinamobo.ue.commodity.entity.TomEbRecord" >
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="EXCHANGE_NUMBER" property="exchangeNumber" jdbcType="DECIMAL" />
    <result column="ROAD" property="road" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.chinamobo.ue.commodity.entity.TomEbRecord" >
    insert into TOM_EB_RECORD (CODE, UPDATE_TIME, EXCHANGE_NUMBER, 
      ROAD)
    values (#{code,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{exchangeNumber,jdbcType=DECIMAL}, 
      #{road,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobo.ue.commodity.entity.TomEbRecord" >
    insert into TOM_EB_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="exchangeNumber != null" >
        EXCHANGE_NUMBER,
      </if>
      <if test="road != null" >
        ROAD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeNumber != null" >
        #{exchangeNumber,jdbcType=DECIMAL},
      </if>
      <if test="road != null" >
        #{road,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="countByUserId" resultType="java.lang.Integer" parameterType="map" >
    select count(*) from TOM_EB_RECORD
    where 1=1
     <if test="userId != null" >
       and code =#{userId,jdbcType=VARCHAR}
      </if>
  </select>
   <select id="selectByUserId" resultMap="BaseResultMap" parameterType="map" >
     select *
    from TOM_EB_RECORD
    where CODE = #{userId,jdbcType=VARCHAR} order by update_time desc   
limit<![CDATA[
    #{startNum,jdbcType=DECIMAL},#{endNum,jdbcType=DECIMAL}]]>
  </select>
  
  <select id="selectByRode" resultMap="BaseResultMap" parameterType="map" >
  		select * from TOM_EB_RECORD 
  			where CODE = #{userId,jdbcType=VARCHAR} and ROAD = #{road,jdbcType=VARCHAR}
		 <![CDATA[   and UPDATE_TIME>= date(#{date})   ]]>
  </select>
  <select id="countTotalSignIn" resultType="int" parameterType="map" >
	select count(*) from TOM_EB_RECORD where UPDATE_TIME BETWEEN #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP} and ROAD ='1'
  </select>
  <!-- 某時間段内的E币总数 -->
  <select id="countEbByDate" resultType="int" parameterType="map">
     select  COALESCE(sum(a.eNumber),0) eNumber from
     (select e.EXCHANGE_NUMBER eNumber from
		  tom_eb_record e  WHERE 1=1 and e.CODE = #{code,jdbcType=VARCHAR}
		<if test="beginTimeq != null and '' != beginTimeq">
		  AND #{beginTimeq,jdbcType=TIMESTAMP} <![CDATA[<= e.UPDATE_TIME]]>
		  </if>
		  <if test="endTimeq != null and '' != endTimeq">
		   and
		   #{endTimeq,jdbcType=TIMESTAMP} <![CDATA[>= e.UPDATE_TIME]]>
		  </if>
	     ) a
  </select>
</mapper>