<meta charset="utf-8">
<div class="container-fluid overflow-auto" id="page" ng-controller="ActivityStatisticController">
			<div class="row">
				<div class="container-fluid top-func-bar">
					<div class="row">
						<div class="col-xs-12">
							<form role="search" class="">
								<div class="row">
									<div class="col-xs-3">
										<div class="input-group" ng-class="{'has-error':activityName.length>=20}">
											<input type="text" placeholder="请输入培训活动名称或编号关键字" class="form-control " ng-model="activityName" maxlength="20" ng-keydown='autoSearch($event)'>
											<span class="input-group-btn">
												<a  class="btn  btn-primary"  ng-click="search()">搜索</a>
											</span>
										</div>
									</div>
									<div class="col-xs-6">
					                 <label>统计区间：</label> 
					                  <div style="display:inline-block;margin-left:15px;width:540px;">
						               <input type="text" class="Wdate form-control width_5" id="startTime" ng-model="beginTime" onFocus="WdatePicker({onpicked:pickedStartTimeFunc,oncleared:clearStartTimeFunc,startDate:'%y-%M-%d',lang:'zh-cn',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" readonly/> 
	               		                <label>至</label>
	               		                <input type="text" class="Wdate form-control width_5" id="endTime" ng-model="endTime" onFocus="WdatePicker({onpicked:pickedEndTimeFunc,oncleared:clearEndTimeFunc,startDate:'%y-%M-%d',lang:'zh-cn',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" readonly/>
	                	                <a class="btn  btn-default pull-right" ng-click="reSetSearchOption()">重置</a>
	                	                <a class="btn  btn-primary pull-right" ng-click="searchData()">查询</a>
					                 </div>
				                    </div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr>
							    <th class="min-width1">选择</th>
								<th class="min-width1">序号</th>
								<th class="min-width1">活动编号</th>
								<th class="min-width1">活动名称</th>
								<th class="min-width1">是否需要报名</th>
								<th class="min-width1">活动开始时间</th>
								<th class="min-width1">活动结束时间</th>
								<th class="min-width1">开放人数</th>
								<th class="min-width1">报名人数</th>
								<th class="min-width1">限额人数</th>
								<th class="min-width1">报名率</th>
								<th class="min-width1">管理授权</th>
								<th class="min-width1">操作</th>
							</tr>
						</thead>
						<tbody>
						    <tr ng-repeat="a in page.data" ng-class="{'current-focus-tr':a.checked}" ng-click="chooseItem(a)" style="cursor:pointer;">
							<!-- <tr ng-repeat="a in page.data" ng-class="{'current-focus-tr':a.activityId == currHighLightRow.activityId}" ng-click="highLightCurrRow(a)" style="cursor:pointer;"> -->
							   	<td><input type="checkbox" ng-checked="a.checked"></td>
							   	<td ng-bind="$index+1"></td>
							   	<td ng-bind="a.activityNumber"></td>
								<td ng-bind="a.activityName"></td>
								<td ng-bind="a.needApply"></td>
								<td ng-bind="a.activityStartTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
								<td ng-bind="a.activityEndTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
								<td><a ng-bind="a.openNumber" ng-click="viewActivityEmpStatistic(a)"></a></td>
								<td ng-bind="a.totalEnrollment"></td>
								<td ng-bind="a.numberOfParticipants"></td>
								<td ng-bind="a.registrationRate"></td>
								<td ng-bind="a.admins"></td>
								<td>
									<a class="btn btn-link " ng-bind="'应完成'" ng-click="viewActivityStatistic(a)"></a>
									<a class="btn btn-link " ng-bind="'已报名'" ng-click="viewActivityApplyStatistic(a)"></a>
									<a class="btn btn-link " ng-bind="'已完成'" ng-click="viewCompletedActivityEmp(a)"></a>
								</td>	 
							</tr>
						</tbody>
					</table>
					<div class="container-fluid" style="margin-top:20px;" ng-if="page.data.length>0">
						<div class="row">
						    <span class="batch-remove-selectAll" ng-click="chooseCurrPageAllItem()">
					          <input type="checkbox"  ng-checked="selectAll">全选
				            </span>
				            <a class="btn btn-primary" ng-click="downloadActivityStatisticsExcel()">导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出 </a>
							<!-- <a class="btn btn-primary btn-con-trol" href="/enterpriseuniversity/services/activityStatistics/downloadActivityStatisticsExcel?pageNum={{page.pageNum}}&pageSize={{page.pageSize}}&activityName={{activityName}}&beginTimeq={{beginTime}}&endTimeq={{endTime}}">导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</a> -->
						</div>
					</div>
					<div class="container-fluid" pagination conf="paginationConf"></div>
				</div>
			</div>
	<div class="form-group"  ng-include="'/enterpriseuniversity/views/modalTemplate/viewActivityStatisticModalTemplate.html'"></div>
	<div class="form-group"  ng-include="'/enterpriseuniversity/views/modalTemplate/viewActivityApplyStatisticModalTemplate.html'"></div>
	<div class="form-group"  ng-include="'/enterpriseuniversity/views/modalTemplate/viewActivityEmpStatisticModalTemplate.html'"></div>
	<div class="form-group"  ng-include="'/enterpriseuniversity/views/modalTemplate/viewCompletedActivityEmpModalTemplate.html'"></div>
</div>
<script>
//监听窗口大小变化，自适应高度
$(document).ready(function () {
	resizeView();
});
</script>