<meta charset="UTF-8" >
<div class="container-fluid" ng-controller="AddEmpController" id="page">
	<form name="empForm" novalidate
		class="form-horizontal" role="form" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-xs-2 control-label" translate="xitongguanli.empid">员工编号:</label>
			<div class="col-xs-5 width_6">
				<input type="text" class="form-control width_1"  id="code" name="code" ng-model="emp.code"
					ng-maxlength="20" required placeholder="请输入员工编号">
			</div>
			<div class="error" ng-show="empForm.code.$dirty&&empForm.code.$invalid||empForm.$submitted&&empForm.code.$invalid">
				<span ng-show="empForm.code.$error.required" class="glyphicon glyphicon-exclamation-sign"  translate="xitongguanli.empidnotnull">员工编号不能为空</span>
				<span ng-show="empForm.code.$error.maxlength" class="glyphicon glyphicon-exclamation-sign" translate="xitongguanli.empidmax20">员工编号最多20个字符</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" translate="xitongguanli.renyuanxingming">人员名称:</label>
			<div class="col-xs-5 width_6">
				<input type="text" class="form-control width_1" id="name" name="name" ng-model="emp.name"
					ng-maxlength="50" required placeholder="请输入人员名称">(最多输入50个字符)
			</div>
			<div class="error" ng-show="empForm.name.$dirty&&empForm.name.$invalid||empForm.$submitted&&empForm.name.$invalid">
				<span ng-show="empForm.name.$error.required" class="glyphicon glyphicon-exclamation-sign" translate="xitongguanli.empnamenotnull" >人员名称不能为空</span>
				<span ng-show="empForm.name.$error.maxlength" class="glyphicon glyphicon-exclamation-sign" translate="xitongguanli.empnamemax50">人员名称最多50个字符</span>
			</div>
		</div>
		<div class="form-group">
            <label  class="col-xs-2 control-label" translate="xitongguanli.suoshubumen">所属部门:</label>
            <div class="col-xs-4 width_6">
            	<div class="input-group width_2">
                    <input type="text" class="form-control width_1"  id="deptName" name="deptName" ng-model="emp.deptName" required  readonly>
                    <input type="hidden" class="form-control width_1"  id="deptcode" name="deptcode" ng-model="emp.deptcode" required  readonly>
                    <span class="input-group-btn">
                        <a href="javascript:void(0)" class="btn btn-primary  btn-control" translate="xitongguanli.xiugai" ng-click="doOpenRadioEmpModal()"></a>
                    </span>
                </div>
            </div>
            <div ng-include="'/enterpriseuniversity/views/modalTemplate/radioEmpModalTemplate.html'"></div>
        </div>
        <div class="form-group">
			<label class="col-xs-2 control-label" translate="xitongguanli.shenfenid">身份证号:</label>
			<div class="col-xs-5 width_6">
				<input type="text" class="form-control width_1" id="id" name="id" ng-model="emp.id"
					ng-maxlength="18"  placeholder="请输入身份证号">
			</div>
<!-- 			<div class="error" ng-show="empForm.id.$dirty&&empForm.id.$invalid||empForm.$submitted&&empForm.id.$invalid"> -->
<!-- 				<span ng-show="empForm.id.$error.required" class="glyphicon glyphicon-exclamation-sign" >身份证号不能为空</span> -->
<!-- 				<span ng-show="empForm.id.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">身份证号最多18个字符</span> -->
<!-- 			</div> -->
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" translate="xitongguanli.haoma">手机号码:</label>
			<div class="col-xs-5 width_6">
				<input type="text" class="form-control width_1" id="mobile" name="mobile" ng-model="emp.mobile"
					ng-pattern="/^(1|([0-9]\d{0,10}))$/"  ng-maxlength="11"  required placeholder="请输入手机号码">
			</div>
			<div class="error" ng-show="empForm.mobile.$dirty&&empForm.mobile.$invalid||empForm.$submitted&&empForm.mobile.$invalid">
				<span ng-show="empForm.mobile.$error.required" class="glyphicon glyphicon-exclamation-sign" translate="xitongguanli.tishil">手机号码不能为空</span>
				<span ng-show="empForm.mobile.$error.pattern" class="glyphicon glyphicon-exclamation-sign" translate="xitongguanli.tiship">请输入0-9的数字，且最多11位</span>
<!-- 				<span ng-show="empForm.mobile.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">手机号码最多11个字符</span> -->
			</div>
		</div>
		<div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <label class="checkbox-inline">
                    <input type="checkbox"  ng-checked="emp.moreSettings=='Y'"   ng-click="toggleMoreSettings()">更多设置</input>
                </label>
            </div>
        </div>
        <div class="form-group" ng-if="emp.moreSettings!='N'">
			<label class="col-xs-2 control-label" translate="xitongguanli.email">邮箱:</label>
			<div class="col-xs-5 width_6">
				<input type="text" class="form-control width_1"  name="secretEmail" ng-model="emp.secretEmail" 
					required placeholder="请输入邮箱">
			</div>
			<div class="error" ng-show="empForm.secretEmail.$dirty&&empForm.secretEmail.$invalid||empForm.$submitted&&empForm.secretEmail.$invalid" >
                <span ng-show="empForm.secretEmail.$error.required" translate="xitongguanli.tishid" class="glyphicon glyphicon-exclamation-sign">请填写邮箱</span>
            </div>
		</div>
		
<!-- 		<div class="form-group" ng-show="emp.moreSettings!='N'" > -->
<!--         	<label class="col-md-2 control-label">地址:</label>   -->
<!-- 	            <div class="col-xs-5 width_6"> -->
<!-- 	                <select required="" class="form-control width_1" ng-model="emp.province"  -->
<!-- 	                		ng-options="key as key for (key,value) in division"  ng-change="emp.city='';emp.district='';"> -->
<!-- 	                    <option value="">省</option> -->
<!-- 	                </select>   -->
<!-- 	                <select class="form-control width_1" ng-model="emp.city" ng-options="key as key for (key,value) in division[emp.province]"   -->
<!-- 	                        ng-change="emp.district='';"> -->
<!-- 	                    <option value="">市</option> -->
<!-- 	                </select>   -->
<!-- 	                <select class="form-control width_1" ng-model="emp.district" ng-options="value as value for value in division[emp.province][emp.city]">   -->
<!-- 	                    <option value="">区</option> -->
<!-- 	                </select> -->
<!-- 	            </div>   -->
<!--           </div> -->
          
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-8">
				<a class="btn btn-primary btn-control" translate="xitongguanli.wancheng" ng-click="savePersonnel()">完成</a> 
				<a class="btn btn-primary btn-control" translate="xitongguanli.remover" ng-click="returnAddStaff()">返回</a>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
//实例化编辑器
//监听窗口大小变化，自适应高度
$(document).ready(function () {
	resizeView();
});
</script>