<meta charset="UTF-8" >
<link href="/enterpriseuniversity/css/angular.checkboxtreeview.css" rel="stylesheet">
<div id="page" class="container-fluid overflow-auto">
	<div class="container-fluid" >
	    <form name="addRoleForm" ng-controller="AddRoleController" class="form-horizontal" role="form" >
	        <div class="form-group">
	            <label class="col-xs-2 control-label">角色名称(中文)：</label>
	            <div class="col-xs-5 width_6">
	                <input type="text" class="form-control width_1" 
               			id="roleName" name="roleName"
	                    ng-model="role.roleName"
	                  	ng-maxlength="50"
	                   	required
	                   	placeholder="请输入角色名(中文)"><span> (最多50个字符)</span>
	            </div>
            	<div class="error" ng-show="addRoleForm.roleName.$dirty&&addRoleForm.roleName.$invalid||addRoleForm.$submitted&&addRoleForm.roleName.$invalid" >
	                <span ng-show="addRoleForm.roleName.$error.required" class="glyphicon glyphicon-exclamation-sign pull-left">必填</span>
	                <span ng-show="addRoleForm.roleName.$error.maxlength" class="glyphicon glyphicon-exclamation-sign pull-left">最多50个字符</span>
	            </div>
	        </div>
	    <!--     <div class="form-group">
	            <label class="col-xs-2 control-label">角色名称(英文)：</label>
	            <div class="col-xs-5 width_6">
	                <input type="text" class="form-control width_1" 
               			id="roleNameEn" name="roleNameEn"
	                    ng-model="role.roleNameEn"
	                  	ng-maxlength="50"
	                   	required
	                   	placeholder="请输入角色名称(英文)"><span> (最多50个字符)</span>
	            </div>
            	<div class="error" ng-show="addRoleForm.roleNameEn.$dirty && addRoleForm.roleNameEn.$invalid
            		||addRoleForm.$submitted && addRoleForm.roleNameEn.$invalid" >
	                <span ng-show="addRoleForm.roleNameEn.$error.required" class="glyphicon glyphicon-exclamation-sign pull-left">必填</span>
	                <span ng-show="addRoleForm.roleNameEn.$error.maxlength" class="glyphicon glyphicon-exclamation-sign pull-left">最多50个字符</span>
	            </div>
	        </div> -->
	        <div class="form-group">
	            <label for="roleName" class="col-xs-2 control-label">角色类型：</label>
	            <div class="col-xs-5 width_6">
	            	<select class="form-control width_1"  ng-model="role.roleType" ng-change="switchData()"
							ng-options=" option.value as option.name for option in roleTypeOptions">
					</select>
	                <!-- <select class="form-control" name="roleType"  ng-model="role.roleType"  ng-change="switchData()" ng-show="type==1">   
	                    <option  value="1">公司级</option>
	                    <option  value="2">部门级</option>
	                </select>
                  	<select class="form-control" name="roleType"  ng-model="role.roleType"  ng-change="switchData()" ng-show="type==2">   
	                    <option  value="2">部门级</option>
	                </select> -->
	            </div>
	        </div>
	        
	        <div class="form-group" ng-show="dataList">
	            <label for="courseName" class="col-xs-2 control-label" >角色范围：</label>
	            <div class="col-xs-5 width_6" >
	                <div class="tree-container">
	                	<div id="scopetree" data-angular-checkboxtreeview="true" data-checkboxtree-id="scopetree" data-checkboxtreetwo-model="dataList" ></div>
	                	<!-- <input type="hidden" name="roleScope"  id="roleScope" value="{{roleScope}}" ng-model="roleScope"> -->
	            	</div>
	            </div>
	           	<input type="hidden" name="roleScope" ng-model="role.roleScope"  required-rolescope>
			 	<div class="error" ng-show="addRoleForm.$submitted&&addRoleForm.roleScope.$invalid" >
	                <span ng-show="addRoleForm.roleScope.$error.requiredRolescope" class="glyphicon glyphicon-exclamation-sign pull-left">请选择角色范围</span>
	            </div>
	        </div>
	        <div class="form-group" ng-show="authorityList">
	            <label for="courseName" class="col-xs-2 control-label">角色权限：</label>
	            <div class="col-xs-5 width_6">
	                 <div class="tree-container">
	                     <!-- <input type="hidden"  name="roleroleAuthority"  id="roleAuthority" value="{{roleAuthority}}" ng-model="roleAuthority"> -->
		                 <div id="authoritytree" data-angular-checkboxtreeview="true" data-checkboxtree-id="authoritytree"  data-checkboxauthoritytree-model="authorityList" name="authoritytree"></div>
	            	</div>
	            </div>
	            <input type="hidden" name="checkboxtree1" ng-model="role.roleAuthority"  require-string>
		 		<div class="error" ng-show="addRoleForm.$submitted&&addRoleForm.checkboxtree1.$invalid" >
	                <span ng-show="addRoleForm.checkboxtree1.$error.requireString" class="glyphicon glyphicon-exclamation-sign pull-left">请选择角色权限</span>
	            </div>
	        </div>
	      	<div class="form-group">
	           <div class="col-xs-offset-2 col-xs-8">
	               <a class="btn btn-primary btn-control" ng-click="doSave()">保&nbsp;&nbsp;&nbsp;存</a>
	               <a class="btn btn-link " ng-click="doReturn()">返&nbsp;&nbsp;&nbsp;回</a>
	           </div>
	       </div>
	    </form>
	</div>
</div>
<script type="text/javascript">
//监听窗口大小变化，自适应高度
$(document).ready(function () {
	resizeView();
});
</script>