<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinamobo.ue.system.dao.TomGrpOrgRelationMapper">
	<resultMap id="BaseResultMap"
		type="com.chinamobo.ue.system.entity.TomGrpOrgRelation">
		<result column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="GRP_CODE" property="grpCode" jdbcType="VARCHAR" />
		<result column="ADMINISTRATOR" property="administrator"
			jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.chinamobo.ue.system.entity.TomGrpOrgRelation"
		id="BaseResultMap1" extends="BaseResultMap">
		<association property="tomOrg" javaType="TomOrg">
			<id column="CODE" property="code" jdbcType="VARCHAR" />
			<result column="NAME" property="name" jdbcType="VARCHAR" />
			<result column="PK_ORG" property="pkOrg" jdbcType="VARCHAR" />
			<result column="PK_FATHERORG" property="pkFatherorg" jdbcType="VARCHAR" />
			<result column="ENABLESTATE" property="enablestate" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		CODE,GRP_CODE,ADMINISTRATOR,PHONE,EMAIL,STATUS
	</sql>
	<!-- 批量插入 -->
	<insert id="insertList" parameterType="ArrayList">
		insert into TOM_GRP_ORG_RELATION (CODE, GRP_CODE, ADMINISTRATOR,
		PHONE, EMAIL, STATUS)
		<foreach collection="list" item="item" index="index"
			separator="union all">
			select #{item.code,jdbcType=VARCHAR}, #{item.grpCode,jdbcType=VARCHAR},
			#{item.administrator,jdbcType=VARCHAR},
			#{item.phone,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR},
			#{item.status,jdbcType=VARCHAR} from dual
		</foreach>
	</insert>
	<!--根据集团CODE查询组织集团关系 分页 -->
	<select id="selectByCode" resultMap="BaseResultMap1"
		parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		SELECT tg.*,tog.name,tog.pk_org,tog.enablestate FROM
		tom_grp_org_relation tg,tom_org tog where tg.code=tog.code and
		tg.STATUS='Y'
		<if test="example.grpCode!=null">
			and grp_Code = #{example.grpCode,jdbcType=VARCHAR}
		</if>
		limit <![CDATA[#{startNum,jdbcType=DECIMAL},#{endNum,jdbcType=DECIMAL}]]>
	</select>
	<select id="countByExample" parameterType="map" resultType="int">
		select count(*) from tom_grp_org_relation
		<if test="grpCode !=null">
			where grp_Code= #{grpCode,jdbcType=VARCHAR}
		</if>
	</select>
	<insert id="insert" parameterType="com.chinamobo.ue.system.entity.TomGrpOrgRelation">
		insert into TOM_GRP_ORG_RELATION (CODE, GRP_CODE, ADMINISTRATOR,
		PHONE, EMAIL, STATUS
		)
		values (#{code,jdbcType=VARCHAR}, #{grpCode,jdbcType=VARCHAR},
		#{administrator,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.chinamobo.ue.system.entity.TomGrpOrgRelation">
		insert into TOM_GRP_ORG_RELATION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null">
				CODE,
			</if>
			<if test="grpCode != null">
				GRP_CODE,
			</if>
			<if test="administrator != null">
				ADMINISTRATOR,
			</if>
			<if test="phone != null">
				PHONE,
			</if>
			<if test="email != null">
				EMAIL,
			</if>
			<if test="status != null">
				STATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="grpCode != null">
				#{grpCode,jdbcType=VARCHAR},
			</if>
			<if test="administrator != null">
				#{administrator,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>