<meta charset="utf-8">
<div id="page" class="container-fluid overflow-auto">
    <form name="activityForm" novalidate ng-controller="EditActivityController" class="form-horizontal" role="form" enctype="multipart/form-data" >
        <div class="form-group">
	        <label class="col-xs-2 control-label">一、培训活动基本信息&nbsp;&nbsp;</label>
        </div>
        <div class="form-group">
	        <label class="col-xs-2 control-label">活动语言：</label>
	        <div class="col-xs-8 width_6">
		        <div class="form-control-static">
		            <label class="checkbox-inline">
		                <input type="checkbox" ng-checked ="activity.isCN=='Y'" ng-click="changeCN()"/>中文活动
		            </label>
		            <label class="checkbox-inline">
		                  <input type="checkbox" ng-checked ="activity.isEN=='Y'" ng-click="changeEN()"/>英文活动
		            </label>
		        </div>
	        </div>
        	<input type="hidden" name="language" ng-model="activity.language" required-language>
          	<div class="error" ng-show="activityForm.$submitted&&activityForm.language.$invalid" >
                <span ng-show="activityForm.language.$error.requiredLanguage" class="glyphicon glyphicon-exclamation-sign" translate="必选一个"></span>
            </div>
        </div>
        <div class="form-group">
        	<label class="col-xs-2 control-label">活动名称(中文)：</label>
        	<div class="col-xs-8 width_6">
            	<input type="text" class="form-control width_1" 
            		id="activityName" name="activityName" 
            		ng-maxlength="100" required 
            		ng-model="activity.activityName"
					ng-pattern ="/^((?!\/).)*$/" 
            		placeholder="请输入活动名称(中文)"><span> (最多100个字符)</span>
            </div>
            <div class="error" ng-show="activityForm.activityName.$dirty&&activityForm.activityName.$invalid||activityForm.$submitted&&activityForm.activityName.$invalid" >
                <span ng-show="activityForm.activityName.$error.required" class="glyphicon glyphicon-exclamation-sign">必填</span>
                <span ng-show="!activityForm.activityName.$error.maxlength && activityForm.activityName.$error.pattern" class="glyphicon glyphicon-exclamation-sign">不能输入非法"/"</span>
                <span ng-show="activityForm.activityName.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多100个字符</span>
            </div>
       	</div>
       	<div class="form-group">
        	<label class="col-xs-2 control-label">活动名称(英文)：</label>
        	<div class="col-xs-5 width_6">
            	<input type="text" class="form-control width_1" 
            		id="activityNameEn" name="activityNameEn" 
            		ng-maxlength="100" required 
            		ng-model="activity.activityNameEn" 
            		ng-pattern ="/^((?!\/).)*$/"    
            		placeholder="请输入活动名称(英文)"><span> (最多100个字符)</span>
            </div>
            <div class="error" ng-show="activityForm.activityNameEn.$dirty && activityForm.activityNameEn.$invalid
            	||activityForm.$submitted && activityForm.activityNameEn.$invalid">
                <span ng-show="activityForm.activityNameEn.$error.required" class="glyphicon glyphicon-exclamation-sign">必填</span>
                <span ng-show="!activityForm.activityNameEn.$error.maxlength && activityForm.activityNameEn.$error.pattern" class="glyphicon glyphicon-exclamation-sign">不能输入非法"/"</span>
                <span ng-show="activityForm.activityNameEn.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多100个字符</span>
            </div>
       	</div>
       	<div class="form-group">
           <label class="col-xs-2 control-label">培训活动简介(中文)：</label>
           <div class="col-xs-8 width_6">
               <textarea class="form-control width_1" 
               		id="introduction" name="introduction" 
               		ng-model="activity.introduction" 
               		ng-maxlength="1000" required 
               		placeholder="请输入培训活动简介(中文)" >
               	</textarea><span> (最多1000个字符)</span>
           </div>
           <div class="error" ng-show="activityForm.introduction.$dirty&&activityForm.introduction.$invalid
           		||activityForm.$submitted&&activityForm.introduction.$invalid" >
               <span ng-show="activityForm.introduction.$error.required" class="glyphicon glyphicon-exclamation-sign">必填</span>
               <span ng-show="activityForm.introduction.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多1000个字符</span>
           </div>
        </div>
        <div class="form-group">
           <label class="col-xs-2 control-label">培训活动简介(英文)：</label>
           <div class="col-xs-5 width_6">
               <textarea class="form-control width_1" 
           			id="introductionEn" name="introductionEn" 
           			ng-model="activity.introductionEn"
                	ng-maxlength="1000" required 
               		placeholder="请输入培训活动简介(英文)">
               	</textarea><span> (最多1000个字符)</span>
           </div>
           <div class="error" ng-show="activityForm.introductionEn.$dirty&&activityForm.introductionEn.$invalid
           		||activityForm.$submitted&&activityForm.introductionEn.$invalid" >
                <span ng-show="activityForm.introductionEn.$error.required" class="glyphicon glyphicon-exclamation-sign">必填</span>
                <span ng-show="activityForm.introductionEn.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多1000个字符</span>
           </div>
        </div>
        <div class="form-group">
	        <label class="col-xs-2 control-label">培训协议：</label>
	        <div class="col-xs-8 width_6">
		        <div class="form-control-static">
		            <label class="checkbox-inline">
		                <input type="checkbox" ng-checked ="activity.protocol=='Y'" ng-click="toggleProtocol()"/>签订培训协议
		            </label>
		        </div>
	        </div>
        </div>
        <div class="form-group" ng-if="activity.protocol=='Y'">
			<label class="col-xs-2 control-label">协议生效日期：</label>
	       	<div class="col-xs-5">
	            <input type="text" class="Wdate form-control width_5" id="protocolStartTime" onchange="" ng-model="activity.protocolStartTime" name="protocolStartTime" onFocus="WdatePicker({startDate:'%y-%M-%d 09:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly/>
	        </div>
	 	</div>
	 	<div class="form-group" ng-if="activity.protocol=='Y'">
	        <label class="col-xs-2 control-label">协议终止日期：</label>
	        <div class="col-xs-5">
	            <input type="text" class="Wdate form-control width_5" id="protocolEndTime" onchange="" ng-model="activity.protocolEndTime" name="protocolEndTime" onFocus="WdatePicker({startDate:'%y-%M-%d 19:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'protocolStartTime\')}'})" readonly/>
	        </div>
	 	</div>
	 	<div class="form-group" ng-if="activity.protocol=='Y'">
			<label class="col-xs-2 control-label">培训费用：</label>
        	<div class="col-xs-6 width_6">
            	<input type="text" class="form-control width_3" name="trainFee" 
            		ng-model="activity.trainFee"
            		required
            		ng-pattern ="/^([1-9][\d]{0,5}|0)(\.[\d]{1,2})?$/"   
            		placeholder="请输入培训活动费用">
            		<div class="inputIntro">(元)</div>
            </div>
            <div class="error" ng-show="activityForm.trainFee.$dirty&&activityForm.trainFee.$invalid||activityForm.$submitted&&activityForm.trainFee.$invalid" >
                <span ng-show="activityForm.trainFee.$error.required" class="glyphicon glyphicon-exclamation-sign">请填写培训费用</span>
                <span ng-show="activityForm.trainFee.$error.pattern" class="glyphicon glyphicon-exclamation-sign">费用范围0-999999.99</span>
            </div>
		</div>
        <div class="form-group">
        	<label  class="col-xs-2 control-label">必修/选修：</label>
            <div class="col-xs-5">
                <label class="radio-inline">
                    <input type="radio" class="" name="needApply" ng-model="activity.needApply" value="N" ng-checked="activity.needApply=='N'">必修活动
                </label>
                <label class="radio-inline">
                    <input type="radio" class="" name="needApply" ng-model="activity.needApply" value="Y" ng-checked="activity.needApply=='Y'">选修活动
                </label>
            </div>
        </div>
		<div class="form-group" ng-if="activity.needApply=='Y'">
			<label class="col-xs-2 control-label">报名人数：</label>
        	<div class="col-xs-8 width_6">
            	<input type="text" class="form-control width_5" name="numberOfParticipants" 
            		ng-model="activity.numberOfParticipants"
            		required
            		ng-pattern ="/^(\+?[1-9]\d{0,5}|\+?1000000)$/"   
            		placeholder="请输入报名人数">
            </div>
            <div class="error" ng-show="activityForm.numberOfParticipants.$dirty&&activityForm.numberOfParticipants.$invalid||activityForm.$submitted&&activityForm.numberOfParticipants.$invalid" >
                <span ng-show="activityForm.numberOfParticipants.$error.required" class="glyphicon glyphicon-exclamation-sign">请填写报名人数</span>
                <span ng-show="activityForm.numberOfParticipants.$error.pattern" class="glyphicon glyphicon-exclamation-sign">请输入1-1000000的数字</span>
            </div>
		</div>
		<div class="form-group" ng-if="activity.needApply=='Y'">
        	<label  class="col-xs-2 control-label">报名开始时间： </label>
			<div class="col-xs-5">
				<input type="text" class="Wdate form-control width_5" id="applicationStartTime" name="applicationStartTime" onchange="" ng-model="activity.applicationStartTime" onFocus="WdatePicker({startDate:'%y-%M-%d 09:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly/>
			</div>
        </div>
        <div class="form-group" ng-if="activity.needApply=='Y'">
            <label class="col-xs-2 control-label">报名结束时间：</label>
			<div class="col-xs-5">
				<input type="text" class="Wdate form-control width_5" id="applicationDeadline" name="applicationDeadline" onchange="" ng-model="activity.applicationDeadline" onFocus="WdatePicker({startDate:'%y-%M-%d 19:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'applicationStartTime\')}'})" readonly/>
			</div>
        </div>
		<div class="form-group">
			<label class="col-xs-2 control-label">活动开始时间：</label>
	       	<div class="col-xs-5">
	            <input type="text" class="Wdate form-control width_5" id="activityStartTime" name="activityStartTime" onchange="" ng-model="activity.activityStartTime"  onFocus="WdatePicker({startDate:'%y-%M-%d 09:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly/>
	        </div>
	 	</div>
	 	<div class="form-group">
	        <label class="col-xs-2 control-label">活动结束时间：</label>
	        <div class="col-xs-5">
	            <input type="text" class="Wdate form-control width_5" id="activityEndTime" name="activityEndTime" onchange="" ng-model="activity.activityEndTime" onFocus="WdatePicker({startDate:'%y-%M-%d 19:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'activityStartTime\')}'})" readonly/>
	        </div>
	 	</div>
        <div style="position:relative;" class="form-group" ng-controller="ActivtiyImgController" uploader="imgUploader" filters="queueLimit, customFilter">
	        <label class="col-xs-2 control-label">培训活动封面：</label>
	        <div class="col-xs-8 width_6">
        		<a class="fileInputBtn btn btn-primary btn-control">上传图片</a>
	            <input type="file" class="fileInput btn btn-control" id="activityImg" nv-file-select  uploader="imgUploader">
	            <div class="inputIntro">(1.5:1,&lt;=2M;建议360*240px,&lt;=500kb)</div>
	        </div>
          	<input type="hidden" name="activityImg" ng-model="activity.activityImg" required-img>
          	<div class="error" ng-show="activityForm.$submitted&&activityForm.activityImg.$invalid" >
                <span ng-show="activityForm.activityImg.$error.requiredImg" class="glyphicon glyphicon-exclamation-sign">请上传培训活动封面</span>
            </div>
         	<div class="preview-container" ng-show="openPreview">
				<div class="thumbnail">
				   <img width="200px" height="90px" ng-src="{{previewImgUrl}}">
				   <div class="caption">
				      <p>
				         <a ng-click="closePreview()" class="btn btn-primary" role="button">关闭</a> 
				      </p>
				   </div>
				</div>
			</div>
		 	<!-- 旧的课程封面图片列表 -->
            <div style="min-height:0;" class="col-xs-offset-2 col-xs-8">
                <table style="margin-top: 10px;" ng-show="currFileUrlQueue.length>0"class="table table-bordered text-center width_4">
                    <tr>
                        <td class="col-xs-2">编号</td>
                        <td class="col-xs-2">预览</td>
                        <td class="col-xs-2">操作</td>
                    </tr>
                    <tr ng-repeat="fileUrl in currFileUrlQueue">
                        <td ng-bind="$index+1"></td>
                        <td><a ng-click="preview()">点击预览</a></td>
                        <td nowrap>
                            <a class="btn btn-danger btn-xs" ng-click="removeCurrItem(item)">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 旧的课程封面图片列表 -->
	        <div style="min-height:0;" class="col-xs-offset-2 col-xs-8 width_10">
				<table style="margin-top: 10px;" ng-show="imgUploader.queue.length>0"class="table table-bordered text-center">
				    <tr>
				        <td class="col-xs-2">封面图片名称</td>
				        <td class="col-xs-2">大小</td>
				        <td class="col-xs-2">进度</td>
				        <td class="col-xs-2">状态</td>
				        <td class="col-xs-2">操作</td>
				    </tr>
				    <tr ng-repeat="item in imgUploader.queue">
				        <td class="overflow-breakall"><strong><a ng-click="preview()">{{ item.file.name }}</a></strong></td>
				        <td ng-show="imgUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				        <td ng-show="imgUploader.isHTML5">
				            <div class="progress" style="margin-bottom: 0;">
				                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				            </div>
				        </td>
				        <td class="text-center">
				            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
				            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				        </td>
				        <td nowrap>
				            <a class="btn btn-success btn-xs" ng-click="uploadItem(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
				                <span class="glyphicon glyphicon-upload"></span> 上传
				            </a>
				            <a class="btn btn-danger btn-xs" ng-click="removeItem(item)">
				                <span class="glyphicon glyphicon-trash"></span> 删除
				            </a>
				        </td>
				     </tr>
				</table>
	        </div>
       	</div>
       	<!-- 活动英文封面 -->
       	<div style="position:relative;" class="form-group" ng-controller="ActivtiyImgEnController" uploader="imgEnUploader" filters="queueLimit, customFilter">
	        <label class="col-xs-2 control-label">培训活动英文封面：</label>
	        <div class="col-xs-8 width_6">
        		<a class="fileInputBtn btn btn-primary btn-control">上传图片</a>
	            <input type="file" class="fileInput btn btn-control" id="activityImgEn" nv-file-select  uploader="imgEnUploader">
	            <div class="inputIntro">(1.5:1,&lt;=2M;建议360*240px,&lt;=500kb)</div>
	        </div>
          	<input type="hidden" name="activityImgEn" ng-model="activity.activityImgEn" required-imgen>
          	<div class="error" ng-show="activityForm.$submitted&&activityForm.activityImgEn.$invalid" >
                <span ng-show="activityForm.activityImgEn.$error.requiredImgen" class="glyphicon glyphicon-exclamation-sign">请上传培训活动封面</span>
            </div>
         	<div class="preview-container" ng-show="openPreviewEn">
				<div class="thumbnail">
				   <img width="200px" height="90px" ng-src="{{previewImgEnUrl}}">
				   <div class="caption">
				      <p>
				         <a ng-click="closePreviewEn()" class="btn btn-primary" role="button">关闭</a> 
				      </p>
				   </div>
				</div>
			</div>
		 	<!-- 旧的课程封面图片列表 -->
            <div style="min-height:0;" class="col-xs-offset-2 col-xs-8">
                <table style="margin-top: 10px;" ng-show="currEnFileUrlQueue.length>0"class="table table-bordered text-center width_4">
                    <tr>
                        <td class="col-xs-2">编号</td>
                        <td class="col-xs-2">预览</td>
                        <td class="col-xs-2">操作</td>
                    </tr>
                    <tr ng-repeat="fileUrl in currEnFileUrlQueue">
                        <td ng-bind="$index+1"></td>
                        <td><a ng-click="previewEn()">点击预览</a></td>
                        <td nowrap>
                            <a class="btn btn-danger btn-xs" ng-click="removeCurrItem(item)">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 旧的课程封面图片列表 -->
	        <div style="min-height:0;" class="col-xs-offset-2 col-xs-8 width_10">
				<table style="margin-top: 10px;" ng-show="imgEnUploader.queue.length>0"class="table table-bordered text-center">
				    <tr>
				        <td class="col-xs-2">封面图片名称</td>
				        <td class="col-xs-2">大小</td>
				        <td class="col-xs-2">进度</td>
				        <td class="col-xs-2">状态</td>
				        <td class="col-xs-2">操作</td>
				    </tr>
				    <tr ng-repeat="item in imgEnUploader.queue">
				        <td class="overflow-breakall"><strong><a ng-click="previewEn()">{{ item.file.name }}</a></strong></td>
				        <td ng-show="imgEnUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				        <td ng-show="imgEnUploader.isHTML5">
				            <div class="progress" style="margin-bottom: 0;">
				                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				            </div>
				        </td>
				        <td class="text-center">
				            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
				            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				        </td>
				        <td nowrap>
				            <a class="btn btn-success btn-xs" ng-click="uploadItem(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
				                <span class="glyphicon glyphicon-upload"></span> 上传
				            </a>
				            <a class="btn btn-danger btn-xs" ng-click="removeItem(item)">
				                <span class="glyphicon glyphicon-trash"></span> 删除
				            </a>
				        </td>
				     </tr>
				</table>
	        </div>
       	</div>
       	<!-- end 活动英文封面 -->
        <div class="form-group">
        	<label class="col-xs-2 control-label">所属部门：</label>
            <div class="col-xs-8">
		        <div class="form-control-static">
		            <a href="javascript:void(0)" class="btn btn-primary  btn-control" ng-click="doOpenDeptModal()">选择所属部门</a>
		        </div>
		       <div class="width_4" ng-include="'/enterpriseuniversity/views/activity/template/deptChoiceTemplate.html'"></div>
        	</div>
        </div>
         	<!-- 项目名称分类 -->
        <div class="form-group">
            <label  class="col-xs-2 control-label">项目名称分类：</label>
            <div class="col-xs-5 width_6">
            	<div class="input-group width_2">
                    <input type="text" placeholder="请选择项目名称分类" class="form-control width_1" 
                    	name="parentClassifyName" 
                    	readonly 
                    	ng-model="activity.parentProjectClassifyName" required>
                    <span class="input-group-btn">
                        <a href="javascript:void(0)" class="btn btn-primary btn-control"  ng-click="doOpenRadioProjectClassifyModal()">选择项目名称分类</a>
                    </span>
                </div>
            </div>
            <div ng-include="'/enterpriseuniversity/views/modalTemplate/radioProjectClassifyModalTemplate.html'"></div>
        <div class="error" ng-show="activityForm.parentClassifyName.$dirty&&activityForm.parentClassifyName.$invalid||activityForm.$submitted&&activityForm.parentClassifyName.$invalid" >
               <span ng-show="activityForm.parentClassifyName.$error.required" class="glyphicon glyphicon-exclamation-sign">必填</span>
            </div>
        </div>
        <div class="form-group">
        	<label class="col-xs-2 control-label">员工层级：</label>
            <div class="col-xs-8">
		        <div class="form-control-static">
		            <a href="javascript:void(0)" class="btn btn-primary btn-control" ng-click="doOpenEmployeeGradeModal()">选择员工层级</a>
		        </div>
		       <div class="width_4" ng-include="'/enterpriseuniversity/views/activity/template/EmployeeGradeChoiceTemplate.html'"></div>
        	</div>
        </div>
        <div class="form-group">
        	<label class="col-xs-2 control-label">所在城市：</label>
			<div class="col-xs-8 width_6">
				<input type="text" class="form-control width_1" name="city" ng-model="activity.city" ng-maxlength="20"/>
			</div>
			<div class="error" ng-show="activityForm.city.$dirty&&activityForm.city.$invalid||activityForm.$submitted&&activityForm.city.$invalid" >
                <span ng-show="activityForm.city.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多20个字符</span>
            </div>
        </div>
        <div class="form-group">
        	<label class="col-xs-2 control-label" >所在城市英文</label>
			<div class="col-xs-5 width_6" >
				<input type="text" class="form-control width_1" name="cityEn" ng-model="activity.cityEn" ng-maxlength="20"/>
			</div>
			<div class="error" ng-show="activityForm.cityEn.$dirty&&activityForm.cityEn.$invalid||activityForm.$submitted&&activityForm.cityEn.$invalid" >
                <span ng-show="activityForm.cityEn.$error.maxlength" class="glyphicon glyphicon-exclamation-sign" translate="activity.zuiduoershizifu"></span>
            </div>
        </div>
       	<div class="form-group">
	        <label class="col-xs-2 control-label">二、任务包信息&nbsp;&nbsp;</label>
        </div>
       	<div class="form-group">
       		<label class="col-xs-2 control-label"></label>
			<div class="col-xs-5 width_6">
			    <div class="form-control-static">
			        <a href="javascript:void(0)" class="btn btn-primary btn-control" ng-click="doOpenTaskPackageModal()">选择任务包</a>
			    </div>
    			<!--列出已勾选的项-->
			    <div class="form-control-static clearfix choosed-items-container">
		    		<p ng-show="taskPackage.length <=0" style="color:red;">请选择任务包,并配置任务信息</p>
			    	<div style="padding:15px;" ng-repeat="task in taskPackage">
			    		<div ng-repeat="item in task.taskCoursesOrExamPapers">
			    			<div ng-if="item.courseId!=undefined">
				    			<div class="form-group">
						            <label class="col-xs-2 width_7 control-label">任务<span ng-bind="$index+1+'：'"></span></label>
						            <div class="col-xs-7">
				                 		<span style="display:block;padding-top:7px;margin-bottom:0;" ng-bind="item.courseName"></span>
						            </div>
						            <div class="col-xs-2">
						            	<span ng-if="$index!=task.taskCoursesOrExamPapers.length-1" style="color:#228be0;cursor:pointer;" class="control-label glyphicon glyphicon-arrow-down" ng-click="sortDown(item);"></span>
						            	&nbsp;&nbsp;
						            	<span ng-if="$index!=0" style="color:#228be0;cursor:pointer;" class="control-label glyphicon glyphicon-arrow-up" ng-click="sortUp(item);"></span>
						            </div>
			        			</div>
			        			<div class="form-group" ng-if="$index!=0">
						            <label class="col-xs-3 width_7 control-label">前置任务：</label>
						            <div class="col-xs-5 width_8">
							            <div class="input-group">
						                    <input type="text" placeholder="请选择前置任务" class="form-control width_5" readonly  ng-model="item.preTaskNames">
						                    <span class="input-group-btn">
						                        <a href="javascript:void(0)" class="btn btn-primary  btn-control"  ng-click="choosePretask(item,$index)">选择前置任务</a>
						                    </span>
		               	 				</div>
						            </div>
			        			</div>
			        			<div class="form-group" ng-if="item.courseOnline!='N'">
						            <label class="col-xs-2 width_7 control-label">开始时间：</label>
						            <div class="col-xs-5 width_8">
						                 <input type="text" class="Wdate form-control width_5" onchange="" ng-model="item.startTime" id="courseStartTime{{item.courseNumber}}"  name="courseStartTime{{item.courseNumber}}"  onFocus="WdatePicker({startDate:'%y-%M-%d 09:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()',onpicked:function(){}})" readonly/>
						            </div>
			        			</div>
			        			<div class="form-group" ng-if="item.courseOnline!='N'">
						            <label class="col-xs-2 width_7 control-label">结束时间：</label>
						            <div class="col-xs-5 width_8">
						                 <input type="text" class="Wdate form-control width_5" onchange="" ng-model="item.endTime" id="courseEndTime{{item.courseNumber}}" name="courseEndTime{{item.courseNumber}}"  onFocus="WdatePicker({startDate:'%y-%M-%d 19:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()',onpicked:function(){}})" readonly/>
						            </div>
			        			</div>
			        			<!-- <div class="form-group" ng-if="item.courseOnline!='Y'">
						            <label class="col-xs-2 width_7 control-label">讲师(单选)：</label>
						            <div class="col-xs-5 width_8">
						            	<select class="form-control width_5" style="line-height: 28px;" ng-model="item.lecturerId" ng-options="x.lecturerId as x.lecturerName for x in item.lecturerLists">
						            		<option selected value="">选择讲师</option>
						            	</select>
						            	<input type="hidden" name="lecturerId{{item.courseNumber}}" ng-model="item.lecturerId" required-lecturer/>
						            </div>
						            <div class="error width_9" ng-show="activityForm.$submitted&&activityForm.lecturerId{{item.courseNumber}}.$invalid" >
						                 <span ng-show="activityForm.lecturerId{{item.courseNumber}}.$error.requiredLecturer" class="glyphicon glyphicon-exclamation-sign">请选择讲师</span>
						            </div>
	       			 			</div>
	       			 			<div class="form-group" ng-if="item.courseOnline!='Y'">
						            <label  class="col-xs-2 width_7 control-label">活动地点：</label>
						            <div class="col-xs-5 width_8">
						            	<input type="text" class="form-control width_5" name="courseAddress{{item.courseNumber}}"  
						            		ng-maxlength="20"  
						            		ng-model="item.courseAddress"  
						            		required  
						            		placeholder="请输入活动地点">
						            </div>
						            <div class="error width_9" ng-show="activityForm.courseAddress{{item.courseNumber}}.$dirty&&activityForm.courseAddress{{item.courseNumber}}.$invalid||activityForm.$submitted&&activityForm.courseAddress{{item.courseNumber}}.$invalid" >
						                 <span ng-show="activityForm.courseAddress{{item.courseNumber}}.$error.required" class="glyphicon glyphicon-exclamation-sign">请填写活动地点</span>
						                 <span ng-show="activityForm.courseAddress{{item.courseNumber}}.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多20个字符</span>
						            </div>
	       			 			</div>
	       			 			<div class="form-group" ng-if="item.courseOnline!='Y'">
						            <label  class="col-xs-2 width_7 control-label">课程时长：</label>
						            <div class="col-xs-5 width_8">
						            	<input type="text" class="form-control width_5" name="courseTime{{item.courseNumber}}"  
						            		ng-pattern ="/^(\+?[1-9]\d{0,2}|\+?1000)$/"
						            		ng-model="item.courseTime"  
						            		required 
						            		ng-keyup="calculateTotalPrice(item)" 
						            		placeholder="请输入课程时长">
						            		<span class="inputIntro">分钟</span> 
						            </div>
						            <div class="error width_9" ng-show="activityForm.courseTime{{item.courseNumber}}.$dirty&&activityForm.courseTime{{item.courseNumber}}.$invalid||activityForm.$submitted&&activityForm.courseTime{{item.courseNumber}}.$invalid" >
						                 <span ng-show="activityForm.courseTime{{item.courseNumber}}.$error.required" class="glyphicon glyphicon-exclamation-sign">请填写课程时长</span>
						                 <span ng-show="activityForm.courseTime{{item.courseNumber}}.$error.pattern" class="glyphicon glyphicon-exclamation-sign">时长范围1-1000</span>
						            </div>
	       			 			</div>
	       			 			<div class="form-group" ng-if="item.courseOnline!='Y'">
						            <label  class="col-xs-2 width_7 control-label">课程单价：</label>
						            <div class="col-xs-5 width_8">
						            	<input type="text" class="form-control width_5" name="unitPrice{{item.courseNumber}}"   
						            		ng-model="item.unitPrice"
						            		ng-pattern ="/^([1-9][\d]{0,5}|0)(\.[\d]{1})?$/"  
						            		ng-keyup="calculateTotalPrice(item)"
						            		placeholder="请输入课程单价">
						            		<span class="inputIntro">元/小时</span> 
						            </div>
						            <div class="error width_9" ng-show="activityForm.unitPrice{{item.courseNumber}}.$dirty&&activityForm.unitPrice{{item.courseNumber}}.$invalid||activityForm.$submitted&&activityForm.unitPrice{{item.courseNumber}}.$invalid" >
						                 <span ng-show="activityForm.unitPrice{{item.courseNumber}}.$error.pattern" class="glyphicon glyphicon-exclamation-sign">单价范围0-999999.9</span>
						            </div>
	       			 			</div>
	       			 			<div class="form-group" ng-if="item.courseOnline!='Y'">
						            <label  class="col-xs-2 width_7 control-label">课程总价：</label>
						            <div class="col-xs-5 width_8">
						            	<input type="text" class="form-control width_5"  ng-model="item.totalPrice" name="totalPrice"  readonly>
						            	<span class="inputIntro">元</span> 
						            </div>
	       			 			</div> -->
			    			</div>
			    			<div ng-if="item.examPaperId!=undefined">
			    				<div class="form-group">
						            <label class="col-xs-2 width_7 control-label">任务<span ng-bind="$index+1+'：'"></span></label>
						            <div class="col-xs-7">
				                 		<span style="display:block;padding-top:7px;margin-bottom:0;" ng-bind="item.examPaperName ? item.examPaperName : item.examName"></span>
						            </div>
						            <div class="col-xs-2">
						            	<span ng-if="$index!=task.taskCoursesOrExamPapers.length-1" style="color:#228be0;cursor:pointer;" class="control-label glyphicon glyphicon-arrow-down" ng-click="sortDown(item);"></span>
						            	&nbsp;&nbsp;
						            	<span ng-if="$index!=0" style="color:#228be0;cursor:pointer;" class="control-label glyphicon glyphicon-arrow-up" ng-click="sortUp(item);"></span>
						            </div>
			        			</div>
			        			<div class="form-group" ng-if="$index!=0">
						            <label class="col-xs-2 width_7 control-label">前置任务：</label>
						            <div class="col-xs-8 width_8">
							            <div class="input-group">
						                    <input type="text" placeholder="请选择前置任务" class="form-control width_5" readonly  ng-model="item.preTaskNames">
						                    <span class="input-group-btn">
						                        <a href="javascript:void(0)" class="btn btn-primary  btn-control"  ng-click="choosePretask(item,$index)">选择前置任务</a>
						                    </span>
		               	 				</div>
						            </div>
			        			</div>
			    				<div class="form-group">
						            <label class="col-xs-2 width_7 control-label">开始时间：</label>
						            <div class="col-xs-5 width_8">
						                 <input type="text" class="Wdate form-control width_5" onchange="" ng-model="item.startTime" id="examStartTime{{item.examPaperNumber}}" name="examStartTime{{item.examPaperNumber}}"  onFocus="WdatePicker({startDate:'%y-%M-%d 09:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly/>
						            </div>
			        			</div>
			        			<div class="form-group">
						            <label class="col-xs-2 width_7 control-label">结束时间：</label>
						            <div class="col-xs-5 width_8">
						                 <input type="text" class="Wdate form-control width_5" onchange="" ng-model="item.endTime" id="examEndTime{{item.examPaperNumber}}" name="examEndTime{{item.examPaperNumber}}"  onFocus="WdatePicker({startDate:'%y-%M-%d 19:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly/>
						            </div>
			        			</div>
			        			<!-- xxxxxxxxxxxxxxxxxx -->
			        			<div class="form-group">
						            <label  class="col-xs-2 width_7 control-label">考试时长：</label>
						            <div class="col-xs-5 width_8">
						            	<input type="text" class="form-control width_5" ng-model="item.examTime" readonly >
						            		<span class="inputIntro">分钟</span> 
						            </div>
	       			 			</div>
	       			 			<!-- xxxxxxxxxxxxxxxxxx -->
			        			<div class="form-group">
				        			<label class="col-xs-2 width_7 control-label">考试类型：</label>
		       				 		<div class="col-xs-5 width_8">
		       				 			<label class="control-label" style="cursor:pointer;"><input type="checkbox"  style="cursor:pointer;" ng-click="toggleOfflineExam(item);" ng-checked="item.offlineExam=='2'">线下考试</label>
	       				 			</div>
			        			</div>
			        			<div class="form-group" ng-if="item.offlineExam=='2'">
				        			<label class="col-xs-2 width_7 control-label">考试地址：</label>
				        			<div class="col-xs-5 width_8">
				        				<input type="text" class="form-control width_5" id="examAddress{{item.examPaperNumber}}" name="examAddress{{item.examPaperNumber}}" 
				        					ng-model="item.examAddress"
				        					ng-maxlength="20" 
	                						required />
				        			</div>
				        			<div class="error width_9" ng-show="activityForm.examAddress{{item.examPaperNumber}}.$dirty&&activityForm.examAddress{{item.examPaperNumber}}.$invalid||activityForm.$submitted&&activityForm.examAddress{{item.examPaperNumber}}.$invalid" >
						                <span ng-show="activityForm.examAddress{{item.examPaperNumber}}.$error.required" class="glyphicon glyphicon-exclamation-sign">请填写考试地址</span>
						                <span ng-show="activityForm.examAddress{{item.examPaperNumber}}.$error.maxlength" class="glyphicon glyphicon-exclamation-sign">最多20个字符</span>
						            </div>
			        			</div>
			        			<div class="form-group">
						            <label class="col-xs-2 width_7 control-label">补考次数：</label>
						            <div class="col-xs-5 width_8">
						                <input type="text" class="form-control width_5"  id="retakingExamCount{{item.examPaperNumber}}" name="retakingExamCount{{item.examPaperNumber}}" 
						                	ng-model="item.retakingExamCount" 
						                	ng-pattern ="/^(\+?[1-9]\d{0,1}|\+?100|0)$/"
						                	ng-change="createRetaking(item);"
						                	required>
						            </div>
						            <div class="error width_9" ng-show="activityForm.retakingExamCount{{item.examPaperNumber}}.$dirty&&activityForm.retakingExamCount{{item.examPaperNumber}}.$invalid||activityForm.$submitted&&activityForm.retakingExamCount{{item.examPaperNumber}}.$invalid" >
						                <span ng-show="activityForm.retakingExamCount{{item.examPaperNumber}}.$error.required" class="glyphicon glyphicon-exclamation-sign">请填写补考次数</span>
						                <span ng-show="activityForm.retakingExamCount{{item.examPaperNumber}}.$error.pattern" class="glyphicon glyphicon-exclamation-sign">请输入0-100数字</span>
						            </div>
   		 						</div>
   		 						<!-- 补考时间 -->
   		 						<div id="retakingExamTimes{{item.examPaperNumber}}"></div>
 								<!-- 编辑页面初始化时补考时间回显 -->
   		 						<div ng-repeat="r in item.retakingInfo">
   		 							<div class="form-group">
	   		 							<label class="col-xs-2 width_7 control-label">补考日期{{$index+1}}：</label>
	   		 							<div class="col-xs-5">
	   		 								<label>开始时间</label>
	   		 								<input type="text" class="Wdate form-control width_5" id="retakingStartTime{{item.examPaperNumber+($index+1)}}" onchange="" ng-model="r.startTime"  name="retakingStartTime" onfocus="WdatePicker({startDate:'%y-%M-%d 09:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly>
	 									</div>
 									</div>
 									<div class="form-group">
 										<label class="col-xs-2 width_7 control-label"></label>
										<div class="col-xs-5">
											<label>结束时间</label>
											<input type="text" class="Wdate form-control width_5" id="retakingEndTime{{item.examPaperNumber+($index+1)}}" onchange="" ng-model="r.endTime" name="retakingEndTime" onfocus="WdatePicker({startDate:'%y-%M-%d 19:00:00',lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'new Date()'})" readonly>
										</div>
									</div>
 								</div>
			    			</div>
			    		</div>
			    	</div>
		    	</div>
			</div>
			<input type="hidden" name="taskPackage" ng-model="taskPackage" required-taskpackage/>
			<div class="error" ng-show="activityForm.$submitted&&activityForm.taskPackage.$invalid" >
                <span ng-show="activityForm.taskPackage.$error.requiredTaskpackage" class="glyphicon glyphicon-exclamation-sign">请选择任务包</span>
            </div> 
			<div ng-include="'/enterpriseuniversity/views/activity/template/choosePreTaskTemplate.html'"></div>
       		<div ng-include="'/enterpriseuniversity/views/activity/template/chooseTaskPackageTemplate.html'"></div>
       	</div>
       	<div class="form-group">
	        <label class="col-xs-2 control-label">三、选择学员方式&nbsp;&nbsp;</label>
        </div>
        <div class="form-group">
       		<label class="col-xs-2 control-label"></label>
       		<div class="col-xs-8 width_6">
       			<div class="btn-group">
					<a style="border-radius: 4px;" class="btn btn-primary btn-control" ng-class="{'active':isDept=='N'}" ng-click="doOpenLearnerModal()">指定学习人员</a>
<!-- 					<a style="margin-left: 25px;border-radius: 4px;" class="btn btn-primary btn-control" ng-class="{'active':isDept=='Y'}" ng-if="activity.needApply=='N'" ng-click="doOpenManagerModal()">推送部门负责人</a> -->
				</div>
		        <!--列出已勾选的项-->
				<div ng-if="choosedEmpsArr.length >0" class="form-control-static choosed-items-container clearfix width_4">
					<label class="checkbox-inline choosed-item" ng-repeat="item in choosedEmpsArr">
						{{item.name}}
						<span class="del-icon" ng-click="deleteEmpItem(item)">&nbsp;&nbsp;&times;</span>
					</label>
				</div>
				<div ng-if="activity.needApply=='N'&&choosedItemArr.length >0" class="form-control-static choosed-items-container clearfix width_4">
					<label class="checkbox-inline choosed-item" ng-repeat="item in choosedItemArr" ng-if="item.deptpsncode==item.code">
						{{item.deptname}}
						<span class="del-icon" ng-click="deleteDeptHeaderItem(item)">&nbsp;&nbsp;&times;</span>
					</label>
				</div>
		        <div ng-include="'/enterpriseuniversity/views/activity/template/learnerModalTemplate.html'"></div>
		        <div ng-include="'/enterpriseuniversity/views/activity/template/managerModalTemplate.html'"></div>
	        </div>
	        <input type="hidden" name="emps" ng-model="activity.empIds" required-activityemps />
	        <div class="error" ng-show="activityForm.emps.$invalid&&activityForm.$submitted">
                <span ng-show="activityForm.emps.$error.requiredActivityemps" class="glyphicon glyphicon-exclamation-sign">请选择学习人员</span>
           	</div>
        </div>
        <!-- start选择管理员-->
        <div class="form-group">
            <label class="col-xs-2 control-label">培训活动授权：</label>
            <div class="col-xs-8 width_6">
		        <div class="form-control-static">
		            <a href="javascript:void(0)" class="btn btn-primary btn-control" data-toggle="modal" ng-click="doOpenAdminModal()">选择管理员</a>
		        </div>
		        <div class="width_4" ng-include="'/enterpriseuniversity/views/modalTemplate/adminModalTemplate.html'"></div>
    		</div>
    		<input type="hidden" name="admins" ng-model="activity.admins" required-admin>
    		<div class="error" ng-show="activityForm.admins.$invalid&&activityForm.$submitted">
                <span ng-show="activityForm.admins.$error.requiredAdmin" class="glyphicon glyphicon-exclamation-sign">请选择管理员</span>
           	</div>
        </div>
        <!-- end 选择管理员 -->
        <div class="form-group"  ng-controller="FormSubmitController">
            <div class="col-xs-offset-2 col-xs-8">
                <a class="btn btn-primary btn-control"  ng-click="doFormSave()" >保&nbsp;&nbsp;&nbsp;存</a>
                <a class="btn btn-link" ng-click="doReturn()">返&nbsp;&nbsp;&nbsp;回</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
//监听窗口大小变化，自适应高度
$(document).ready(function () {
	resizeView();
});
</script>
