<meta charset="utf-8">
<link  href="/enterpriseuniversity/css/angular.treeview.css" rel="stylesheet" />
<div id="page" class="container-fluid overflow-auto" ng-controller="ProjectClassifyController">
    <div class="row">
        <div id="page-left-container" class="col-xs-2 page-left-container overflow-auto">
            <div class="tree-container">
           	 	<div  data-angular-treeview="true" data-tree-id="projectClassifyTree" data-tree-model="projectClassifyData" ></div>
            </div>
        </div>
        <div id="page-right-container" class="col-xs-10 page-right-container overflow-auto">
            <div class="container-fluid top-func-bar">
                <div class="row">
                    <div class="col-xs-9">
                        <form role="search">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group" ng-class="{'has-error':projectName.length>=20}">
                                        <input type="text" placeholder="请输入课程分类名称关键字" class="form-control " ng-model="projectName" maxlength="20" ng-keydown='autoSearch($event)'>
                                        <span class="input-group-btn">
                                            <a class="btn  btn-primary" ng-click="search()">搜索</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-3">
                        <a  class="btn btn-primary pull-right" ng-click="doAdd()">+ 添加课程分类</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <form id="project-classify-list-form">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th class="min-width1">序号</th>
                            <th class="min-width1">课程分类编号</th>
                            <th class="min-width1">课程分类名称</th>
                            <th class="min-width1">上级课程分类</th>
                            <th class="min-width1">课程分类简介</th>
                            <th class="min-width1">创建人</th>
                            <th class="min-width1">最后修改用户</th>
                            <th class="min-width1">最后修改时间</th>
                            <th class="min-width1">操作</th>
                        </tr>
                        </thead> 
                        <tbody>
                            <tr ng-repeat="item in page.data" ng-class="{'current-focus-tr':item.projectId == currHighLightRow.projectId}" ng-click="highLightCurrRow(item)" style="cursor:pointer;">
                                <td ng-bind="$index+1"></td>
                                <td class="table-overflow-format" ng-bind="item.projectNumber"></td>
                                <td class="overflow-breakall" ng-bind="item.projectName"></td>
                                <td class="overflow-breakall"  ng-bind="item.parentClassifyName"></td>
                                <td class="table-overflow-format" ng-bind="item.projectIntroduction" data-toggle="tooltip" title="{{item.projectIntroduction}}"></td>
                                <td ng-bind="item.creator"></td>
                                <td ng-bind="item.operator"></td>
                                <td ng-bind="item.updateTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>
                                    <a class="btn btn-link " ng-bind="'编辑'" ng-click="doEdit(item)"></a>
                                    <a class="btn btn-link  noleftpadding" ng-bind="'删除'" ng-click="doDelete(item)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--分页  -->
                    <div class="container-fluid" pagination conf="paginationConf"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//监听窗口大小变化，自适应高度
$(document).ready(function () {
	resizeView();
});
</script>
